USE [master]
GO
/****** Object:  Database [YungChing]    Script Date: 2020/1/14 下午 02:41:55 ******/
CREATE DATABASE [YungChing]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YungChing', FILENAME = N'C:\Users\陳皓軒\YungChing.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YungChing_log', FILENAME = N'C:\Users\陳皓軒\YungChing_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YungChing].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YungChing]
GO
USE [YungChing]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2020/1/14 下午 02:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NOT NULL,
	[Salary] [int] NOT NULL,
	[Department] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
